<div id="cards_content" class="pt-5 columns is-multiline is-desktop">
    {% for index, row in df.iterrows() %}
    <div class="column is-6">
        <div class="box p-0" style="border-radius: 20px;">
                <section class="hero has-background-light" style="border-radius: 20px 20px 0 0;">
                  <div class="hero-body">
                    <div class="container has-text-centered">
                      <h1 class="title is-1 p-3">
                        {{ row['nazevDlouhy'] }}
                      </h1>
                    </div>
                  </div>
                  <div class="hero-foot">
                    <nav class="tabs is-centered is-boxed">
                        <div class="container">
                            <ul>
                                <li class="is-active" id="tab-table-{{ row['zkratka'] }}" _="on click take .is-active from [ #tab-annotation-{{ row['zkratka'] }}, #tab-overview-{{ row['zkratka'] }}, #tab-requirements-{{ row['zkratka'] }} ] then show #tab-table-content-{{ row['zkratka'] }} then hide [ #tab-annotation-content-{{ row['zkratka'] }}, #tab-overview-content-{{ row['zkratka'] }}, #tab-requirements-content-{{ row['zkratka'] }} ]">
                                    <a class="has-text-dark" style="border-color: transparent;">
                                        <span>Table</span></a>
                                </li>
                                <li id="tab-annotation-{{ row['zkratka'] }}" _="on click take .is-active from [ #tab-table-{{ row['zkratka'] }}, #tab-overview-{{ row['zkratka'] }}, #tab-requirements-{{ row['zkratka'] }} ] then show #tab-annotation-content-{{ row['zkratka'] }} then hide [ #tab-table-content-{{ row['zkratka'] }}, #tab-overview-content-{{ row['zkratka'] }}, #tab-requirements-content-{{ row['zkratka'] }} ]">
                                     <a class="has-text-dark" style="border-color: transparent;">
                                         <span>Annotation</span>
                                        </a>
                                </li>
                                <li id="tab-overview-{{ row['zkratka'] }}" _="on click take .is-active from [ #tab-table-{{ row['zkratka'] }}, #tab-annotation-{{ row['zkratka'] }}, #tab-requirements-{{ row['zkratka'] }} ] then show #tab-overview-content-{{ row['zkratka'] }} then hide [ #tab-table-content-{{ row['zkratka'] }}, #tab-annotation-content-{{ row['zkratka'] }}, #tab-requirements-content-{{ row['zkratka'] }} ]">
                                    <a class="has-text-dark" style="border-color: transparent;"> <span>Overview</span></a>
                                </li>
                                <li id="tab-requirements-{{ row['zkratka'] }}" _="on click take .is-active from [ #tab-table-{{ row['zkratka'] }}, #tab-annotation-{{ row['zkratka'] }}, #tab-overview-{{ row['zkratka'] }} ] then show #tab-requirements-content-{{ row['zkratka'] }} then hide [ #tab-table-content-{{ row['zkratka'] }}, #tab-annotation-content-{{ row['zkratka'] }}, #tab-overview-content-{{ row['zkratka'] }} ]">
                                    <a class="has-text-dark" style="border-color: transparent;"> <span>Requirements</span></a>
                                </li>
                            </ul>
                        </div>

                    </nav>
                  </div>
                </section>
                <section class="p-5" style="height: 500px; overflow-y: auto;">
                <div class="p-5" id="tab-table-content-{{ row['zkratka'] }}">
                    <table class="table mx-auto p-5 is-fullwidth is-hoverable">
                        <tbody>
                            <tr>
                                <th>Code</th>
                                <td>{{ row['katedra'] }}/{{ row['zkratka'] }}</td>
                            </tr>
                            <tr>
                                <th>Credits</th>
                                <td>{{ row['kreditu'] }}</td>
                            </tr>
                            <tr>
                                <th>Guarantor</th>
                                <td>{{ (row['garanti'] | string).translate({39:None}) }}</td>
                            </tr>
                            <tr>
                                <th>Lecturers</th>
                                <td>{{ (row['prednasejici'] | string).translate({39:None}) }}</td>
                            </tr>
                            <tr>
                                <th>Winter term</th>
                                <td>
                                    {% if row['vyukaZS'] == 'A' %}
                                    <span class="icon is-medium has-text-success">
                                        <i class="mdi mdi-24px mdi-check"></i>
                                    </span>
                                    {% else %}
                                    <span class="icon is-medium has-text-danger">
                                        <i class="mdi mdi-24px mdi-close"></i>
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Summer term</th>
                                <td>
                                    {% if row['vyukaLS'] == 'A' %}
                                    <span class="icon is-medium has-text-success">
                                        <i class="mdi mdi-24px mdi-check"></i>
                                    </span>
                                    {% else %}
                                    <span class="icon is-medium has-text-danger">
                                        <i class="mdi mdi-24px mdi-close"></i>
                                    </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                {% if row['jednotekPrednasek'] > 0 %}
                                <th>Lectures</th>
                                <td>{{ row['jednotekPrednasek'] }} {{ row['jednotkaPrednasky'] }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                {% if row['jednotekCviceni'] > 0 %}
                                <th>Practical exercises</th>
                                <td>{{ row['jednotekCviceni'] }} {{ row['jednotkaCviceni'] }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                {% if row['jednotekSeminare'] > 0 %}
                                <th>Seminars</th>
                                <td>{{ row['jednotekSeminare'] }} {{ row['jednotkaSeminare'] }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <th>Type of completion</th>
                                <td>{{ row['typZkousky'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-5" id="tab-annotation-content-{{ row['zkratka'] }}" style="display: none;">
                        {{ row['anotace'] }}
                </div>
                <div class="p-5" id="tab-overview-content-{{ row['zkratka'] }}" style="display: none;">
                        {{ row['prehledLatky'] | replace("\n", "<br />" | safe ) }}
                </div>
                <div class="p-5" id="tab-requirements-content-{{ row['zkratka'] }}" style="display: none;">
                        {{ row['pozadavky'] | replace("\n", "<br />" | safe ) }}
                </div>
            </section>
        </div>
    </div>

    {% endfor %}
</div>
