<div id="modal" class="modal is-active" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto;">
    <div class="modal-background" _="on click remove #modal on keyup[key is 'Escape'] from <body/> log('remove') remove #modal end"></div>
    <div class="modal-content">
        <div class="container px-2">
            <div class="box">
                <button class="delete is-large" aria-label="close" _="on click remove #modal" style="position: absolute; top: 10px; right: 20px; padding: 10px;"></button>
                <h1 class="title is-1 has-text-centered p-3">{{df['nazevDlouhy'].iloc[0]}}</h1>
                <h2 class="subtitle is-3 has-text-centered">
                    <span class="tag is-{{ df['fakulta'].iloc[0] | lower }} is-large is-rounded">
                        {{ faculties[df['fakulta'].iloc[0] | lower] }}
                    </span>
                </h2>
                <table class="table mx-auto p-5">
                    <tbody>
                        <tr>
                            <th class="px-5">Code</th>
                            <td class="px-5">{{ df['katedra'].iloc[0] }}/{{ df['zkratka'].iloc[0] }}</td>
                        </tr>
                        <tr>
                            <th class="px-5">Credits</th>
                            <td class="px-5">{{ df['kreditu'].iloc[0] }}</td>
                        </tr>
                        <tr>
                            <th class="px-5">Guarantor</th>
                            <td class="px-5">{{ (df['garanti'].iloc[0] | string).translate({39:None}) }}</td>
                        </tr>
                        <tr>
                            <th class="px-5">Lecturers</th>
                            <td class="px-5">
                                {{ (df['prednasejici'].iloc[0] | string).translate({39:None}) }}
                            </td>
                        </tr>
                        <tr>
                            <th class="px-5">Winter term</th>
                            <td class="px-5">
                                {% if df['vyukaZS'].iloc[0] == 'A' %}
                                <span class="icon is-medium has-text-success">
                                    <i class="mdi mdi-24px mdi-check"></i>
                                </span>
                                {% else %}
                                <span class="icon is-medium has-text-danger">
                                    <i class="mdi mdi-24px mdi-close"></i>
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="px-5">Summer term</th>
                            <td class="px-5">
                                {% if df['vyukaLS'].iloc[0] == 'A' %}
                                <span class="icon is-medium has-text-success">
                                    <i class="mdi mdi-24px mdi-check"></i>
                                </span>
                                {% else %}
                                <span class="icon is-medium has-text-danger">
                                    <i class="mdi mdi-24px mdi-close"></i>
                                </span>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            {% if df['jednotekPrednasek'].iloc[0] > 0 %}
                            <th class="px-5">Lectures</th>
                            <td class="px-5">{{ df['jednotekPrednasek'].iloc[0] }} {{ df['jednotkaPrednasky'].iloc[0] }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if df['jednotekCviceni'].iloc[0] > 0 %}
                            <th class="px-5">Practical exercises</th>
                            <td class="px-5">{{ df['jednotekCviceni'].iloc[0] }} {{ df['jednotkaCviceni'].iloc[0] }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if df['jednotekSeminare'].iloc[0] > 0 %}
                            <th class="px-5">Seminars</th>
                            <td class="px-5">{{ df['jednotekSeminare'].iloc[0] }} {{ df['jednotkaSeminare'].iloc[0] }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th class="px-5">Type of completion</th>
                            <td class="px-5">{{ df['typZkousky'].iloc[0] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="px-5">
                                <h2 class="subtitle has-text-black mb-2 has-text-weight-bold has-text-dark">Anotation:
                                </h2>
                                {{ df['anotace'].iloc[0] | safe }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="px-5">
                                <h2 class="subtitle has-text-black mb-2 has-text-weight-bold has-text-dark">Overview:
                                </h2>
                                {{ df['prehledLatky'].iloc[0] | safe }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="px-5">
                                <h2 class="subtitle has-text-black mb-2 has-text-weight-bold has-text-dark">
                                    Requirements:</h2>
                                {{ df['pozadavky'].iloc[0] | safe }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
