<div id="modal" class="modal is-active" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: auto;">
    <div class="modal-background" _="on click remove #modal"></div>
    <div class="modal-content" style="width: 50%;">
        <div class="container">
            <div class="box">
                <h1 class="title is-1 has-text-centered p-3">{{df['nazev'][0]}}</h1>
                <table class="table mx-auto p-5">
                    <tbody>
                        <tr>
                            <th class="px-5">Code</th>
                            <td class="px-5">{{ df['katedra'][0] }}/{{ df['zkratka'][0] }}</td>
                        </tr>
                        <tr>
                            <th class="px-5">Credits</th>
                            <td class="px-5">{{ df['kreditu'][0] }}</td>
                        </tr>
                        <tr>
                            <th class="px-5">Guarantor</th>
                            <td class="px-5">{{ (df['garanti'][0] | string).translate({39:None}) }}</td>
                        </tr>
                        <tr>
                            <th class="px-5">Lecturers</th>
                            <td class="px-5">
                                {{ (df['prednasejici'][0] | string).translate({39:None}) }}
                            </td>
                        </tr>
                        <tr>
                            <th class="px-5">Winter term</th>
                            <td class="px-5">
                                {% if df['vyukaZS'][0] == 'A' %}
                                <span class="icon is-medium has-text-success">
                                    <i class="mdi mdi-24px mdi-check"></i>
                                </span>
                                {% else %}
                                <span class="icon is-medium has-text-danger">
                                    <i class="mdi mdi-24px mdi-close"></i>
                                </span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="px-5">Summer term</th>
                            <td class="px-5">
                                {% if df['vyukaLS'][0] == 'A' %}
                                <span class="icon is-medium has-text-success">
                                    <i class="mdi mdi-24px mdi-check"></i>
                                </span>
                                {% else %}
                                <span class="icon is-medium has-text-danger">
                                    <i class="mdi mdi-24px mdi-close"></i>
                                </span>
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                        {% if df['jednotekPrednasek'][0] > 0 %}
                        <th class="px-5">Lectures</th>
                        <td class="px-5">{{ df['jednotekPrednasek'][0] }} {{ df['jednotkaPrednasky'][0] }}</td>
                        {% endif %}
                        </tr>
                        <tr>
                        {% if df['jednotekCviceni'][0] > 0 %}
                        <th class="px-5">Practical exercises</th>
                        <td class="px-5">{{ df['jednotekCviceni'][0] }} {{ df['jednotkaCviceni'][0] }}</td>
                        {% endif %}
                        </tr>
                        <tr>
                        {% if df['jednotekSeminare'][0] > 0 %}
                        <th class="px-5">Seminars</th>
                        <td class="px-5">{{ df['jednotekSeminare'][0] }} {{ df['jednotkaSeminare'][0] }}</td>
                        {% endif %}
                        </tr>
                        <tr>
                            <th class="px-5">Type of completion</th>
                            <td class="px-5">{{ df['typZkousky'][0] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="px-5">
                                <h2 class="subtitle has-text-black mb-2 has-text-weight-bold has-text-dark">Anotation:</h2>
                                {{ df['anotace'][0] | replace("\n", "<br />" | safe )}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="px-5">
                                <h2 class="subtitle has-text-black mb-2 has-text-weight-bold has-text-dark">Overview:</h2>
                                {{ df['prehledLatky'][0] | replace("\n", "<br />" | safe ) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="px-5">
                                <h2 class="subtitle has-text-black mb-2 has-text-weight-bold has-text-dark">Requirements:</h2>
                                {{ df['pozadavky'][0] | replace("\n", "<br />" | safe ) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>