html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

.section {
  min-height: 800px;
  overflow-x: auto;
}

table {
  width: 75%;
}

.checkbox input[type="checkbox"] {
  transform: scale(1.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 12px;
}