{% extends 'index.html' %}
{% block title %}
Erasmus • {{ faculty | upper }}
{% endblock title %}
{% block head %}

<nav class="navbar is-fixed-top px-3" style="background-color: transparent;">
    <div class="navbar-brand">
        <a class="navbar-item has-background-dark high" href="https://www.ujep.cz/en/"
            style="border-radius:0 0 10px 10px;">
            <img src="/static/logos/ujep_logo.svg">
        </a>
        <a href="/" class="navbar-burger has-text-white has-background-dark ml-2" role="button"
            style="border-radius: 0 0 10px 10px;">
            <i class="mdi mdi-36px mdi-home px-2"></i>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start px-3">
            <a class="navbar-item has-text-white has-background-dark high" href="/"
                style="border-radius:0 0 10px 10px;">
                <span class="icon">
                    <i class="mdi mdi-36px mdi-home"></i>
                </span>
            </a>
        </div>
    </div>
</nav>

<section class="hero is-{{ faculty }} is-medium"
    style="background-image: url(/static/images/hero-bg-{{faculty}}.svg); background-size: cover; background-position: bottom;">

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1 resize-title">{{ faculty_name }}</h1>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-centered is-boxed is-fullwidth is-medium">
            <div class="container">
                <ul>
                    {% if faculty == "fud" %}
                    <li class="is-active"
                        _="on click take .is-active then hide #cards then show #form then add .has-background-white to #table_fud then remove .has-background-white from #search_fud">
                        <a id="table_fud" style="border-color: transparent;" class="has-background-white">
                            <i class="mdi mdi-24px mdi-book-open-variant px-2"></i> Overview
                        </a>
                    </li>
                    <li
                        _="on click take .is-active then hide #form then show #cards then add .has-background-white to #search_fud then remove .has-background-white from #table_fud">
                        <a id="search_fud" style="border-color: transparent;">
                            <i class="mdi mdi-24px mdi-magnify px-2"></i> Search
                        </a>
                    </li>
                    {% else %}
                    <li class="is-active" _="on click take .is-active then hide #cards then show #form">
                        <a style="border-color: transparent;">
                            <i class="mdi mdi-24px mdi-book-open-variant px-2"></i> Overview
                        </a>
                    </li>
                    <li _="on click take .is-active then hide #form then show #cards">
                        <a style="border-color: transparent;">
                            <i class="mdi mdi-24px mdi-magnify px-2"></i> Search
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</section>
{% endblock head %}
{% block body %}

{% if df.empty %}

<section class="section">
    <div class="container has-text-centered">
        <div class="notification is-warning is-light">
            No subjects found for this year.
        </div>
    </div>
</section>
{% else %}
<progress id="progress" class="progress htmx-indicator is-{{ faculty }}"></progress>

<section id="section" class="section">
    <form id="form" hx-post="/subjects/{{ faculty }}/{{ year }}" hx-indicator="#progress" hx-target="#table">
        <table class="table is-hoverable mx-auto is-fullwidth">
 
            {% include 'components/table_header.html' %}

            <tbody id="table">
                {% include 'components/table.html' %}
                <!-- <tr>
                    <td colspan="8" class="pt-3 has-text-centered is-rounded">
                        <button class="button is-{{ faculty }} is-medium is-rounded" hx-post="/subjects/{{ faculty }}/{{ year }}" hx-indicator="#progress" hx-target="#table" hx-swap="innerHTML">
                            <i class="mdi mdi-24px mdi-plus"></i>
                        </button>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </form>

    <div id="cards" style="display: none;">
        <div class="container">
            <h2 class="title is-3 has-text-centered">Search anotation and overview</h2>
            <p class="control has-icons-left pb-5">
                <input class="input is-{{ faculty }} is-rounded" type="text"
                    placeholder="e.g. math, german, physiology, ..."
                    hx-get="/subjects/search/cards/{{ faculty }}/{{ year }}" hx-trigger="keyup changed delay:300ms"
                    hx-indicator="#progress" hx-target="#cards_content" hx-swap="outer" name="search">
                <span class="icon is-medium is-left">
                    <i class="mdi mdi-magnify"></i>
                </span>
            </p>
        </div>

        <div id="cards_content"></div>
    </div>

</section>

{% endif %}

{% endblock body %}