{% extends 'index.html' %}

{% block title %}
UJEP • Erasmus
{% endblock title %}

{% block head %}

<style>
    html {
        background-image: url("/static/images/home_bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }
</style>
  
<div class="container" style="padding-top: 7em;">
    <h1 class="title is-1 has-text-centered" style="font-size: 4em;">Erasmus</h1>
    <h2 class="subtitle is-1 has-text-centered" style="font-size: 4em;">UJEP</h2>   
</div>

{% endblock head %}

{% block body %}

<div class="container p-5">
    <div class="box mx-auto has-background-light" style="max-width: 600px;">
        <form action="/subjects" method="get">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="field">
                        <label class="label">Faculty</label>
                        <div class="control">
                            <div class="select is-fullwidth mx-auto is-purple is-rounded">
                                <select name="faculty">
                                    <option value="fsi">Faculty of Mechanical Engineering</option>
                                    <option value="fžp">Faculty of Environment</option>
                                    <option value="fud">Faculty of Art and Design</option>
                                    <option value="ff">Faculty of Arts</option>
                                    <option value="fzs">Faculty of Health Studies</option>
                                    <option value="prf">Faculty of Science</option>
                                    <option value="pf">Faculty of Education</option>
                                    <option value="fse">Faculty of Social and Economic Studies</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="field">
                        <label class="label">Year</label>
                        <div class="control">
                            <div class="select is-fullwidth mx-auto is-purple is-rounded">
                                <select name="year">
                                    <option value="2024">2024/2025</option>
                                    <option value="2023">2023/2024</option>
                                    <option value="2022">2022/2023</option>
                                    <option value="2021">2021/2022</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="field has-text-centered">
                        <div class="control">
                            <button type="submit" class="button is-purple is-rounded is-medium">
                                <i class="mdi mdi-magnify pr-2"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock body %}