{% extends 'index.html' %}

{% block title %}
UJEP • Erasmus
{% endblock title %}

{% block head %}

<style>
    body {
        background-image: url("/static/images/home_bg.png");
        background-size: 800px;
        background-repeat: repeat;
        background-color: #0e2a47;
        height: 100vh;
    }
</style>
  
<div class="container" style="padding-top: 7em;">
    <div class="home-title-bg">
        <h1 class="title is-1 has-text-centered has-text-white" style="font-size: 4em;">Courses catalogue</h1>
    </div>
    <!-- <h2 class="subtitle is-1 has-text-centered has-text-light " style="font-size: 4em;">UJEP</h2> -->
</div>

{% endblock head %}

{% block body %}

<div id="modal" class="modal {% if modal_active %}is-active{% endif %}">
    <div class="modal-background" _="on click remove .is-active from #modal"></div>
    <div class="modal-content">
        <div class="container px-2">
              <article class="message is-warning" style="width: 60%; margin: 0 auto;">
                <div class="message-header">
                    <span class="icon is-medium">
                        <i class="mdi mdi-36px mdi-alert"></i>
                    </span>
                  <button class="delete" style="float: right;" _="on click remove .is-active from #modal"></button>
                </div>
                <div class="title is-3 message-body has-text-centered" style="font-size: 1.5em;">
                Please select a faculty.
                </div>
              </article>
        </div>
    </div>
</div>

{% include 'components/loading.html' %}

<div class="container p-5">
    <div class="box mx-auto has-background-light" style="max-width:max-content;">
        <form id="subjects_form" class="p-5" action="/subjects" method="get">
            <div class="columns is-centered">
                <div class="column">
                    <div class="field">
                        <label class="label">Faculty</label>
                        <div class="control">
                            <div class="select is-fullwidth is-blue is-rounded">
                                <select id="faculty" name="faculty">
                                    <option selected disabled>Select faculty</option>
                                    <option value="all">All faculties</option>
                                    <option value="fud">Faculty of Art and Design</option>
                                    <option value="ff">Faculty of Arts</option>
                                    <option value="fse">Faculty of Social and Economic Studies</option>
                                    <option value="fzp">Faculty of Environment</option>
                                    <option value="fzs">Faculty of Health Studies</option>
                                    <option value="pf">Faculty of Education</option>
                                    <option value="prf">Faculty of Science</option>
                                    <option value="fsi">Faculty of Mechanical Engineering</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">
                    <div class="field">
                        <label class="label">Year</label>
                        <div class="control">
                            <div class="select is-fullwidth is-blue is-rounded">
                                <select name="year">
                                    {% for year in years %}
                                    <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}/{{ year + 1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="field has-text-centered">
                        <div class="control">
                            <button class="button is-blue is-rounded is-medium"
                            _="on click
                            if #faculty.value == 'Select faculty' then
                                add .is-active to #modal
                            else
                                add .is-active to #loading"
                            end>
                                <i class="mdi mdi-magnify pr-2"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Remove .is-active class from #loading when the page is loaded
        document.getElementById("loading").classList.remove("is-active");
    });

    window.addEventListener("pageshow", function(event) {
        // Remove .is-active class from #loading when navigating back to the page
        if (event.persisted) {
            document.getElementById("loading").classList.remove("is-active");
        }
    });
</script>

{% endblock body %}

{% block footer %}
<footer class="footer has-background-white">

    <nav class="level">
        <p class="level-item has-text-centered pb-5">
            <img src="/static/logos/EN_Co.png" alt="Cofounded by EU" style="width: 250px;">
        </p>
        <p class="level-item has-text-centered title is-5 p-3">
            Course catalogue for Erasmus+ incoming students
        </p>
        <p class="level-item has-text-centered pb-5">
            <img src="/static/logos/LOGO_UJEP_EN.jpg" alt="ujep logo" style="width: 250px;">
        </p>
    </nav>
</footer>
{% endblock footer %}