html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

.section {
  min-height: 800px;
  overflow-x: auto;
}


.checkbox input[type="checkbox"] {
  transform: scale(1.5);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 12px;        
}

.desktop-component {
  display: block;
}
/* Mobile Styles */
.mobile-component {
  display: none;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .desktop-component {
      display: none;
  }
  .mobile-component {
      display: block;
  }

  .title {
    padding-top: 10%;
  }

  .resize-title {
    font-size: 2rem !important;
  }
}


/* Hover na brand a home tlačítko */
.high {
  height: 100%;
  transition: height 0.2s ease-in-out;
}

.high:hover {
  height: 130%;
}