@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$fsi: #584e4b;
$fžp: #57c035;
$fud: #fab60a;
$ff: #f25c19;
$fzs: #d91920;
$prf: #007582;
$pf: #ee1c99;
$fse: #4097d9;
$purple: #8A4D76;


$custom-colors: (
    "prf": ($prf),
    "pf": ($pf),
    "fse": ($fse),
    "fsi": ($fsi),
    "fžp": ($fžp),
    "fud": ($fud),
    "ff": ($ff),
    "fzs": ($fzs),
    "purple": ($purple)
);

// Import only what you need from Bulma
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/_all.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/_all.sass";
@import "../bulma/sass/grid/_all.sass";
@import "../bulma/sass/helpers/_all.sass";
@import "../bulma/sass/layout/_all.sass";
@import "../bulma/sass/utilities/_all.sass";