@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Set your brand colors
$fsi: #666666;
$fzp: #67AF23;
$fud: #FBBE00;
$ff: #EB690A;
$fzs: #D20019;
$prf: #007381;
$pf: #E53188;
$fse: #0095CF;
$blue: #004080;
$all: #5A2A5B;


$custom-colors: (
    "prf": ($prf),
    "pf": ($pf),
    "fse": ($fse),
    "fsi": ($fsi),
    "fzp": ($fzp),
    "fud": ($fud),
    "ff": ($ff),
    "fzs": ($fzs),
    "blue": ($blue),
    "all": ($all)
);

// TODO: Import only what you need from Bulma 
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";