@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$fsi: #666666;
$fžp: #67AF23;
$fud: #FBBE00;
$ff: #EB690A;
$fzs: #D20019;
$prf: #007381;
$pf: #E53188;
$fse: #0095CF;
$purple: #8A4D76;


$custom-colors: (
    "prf": ($prf),
    "pf": ($pf),
    "fse": ($fse),
    "fsi": ($fsi),
    "fžp": ($fžp),
    "fud": ($fud),
    "ff": ($ff),
    "fzs": ($fzs),
    "purple": ($purple)
);

// Import only what you need from Bulma
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/_all.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/_all.sass";
@import "../bulma/sass/grid/_all.sass";
@import "../bulma/sass/helpers/_all.sass";
@import "../bulma/sass/layout/_all.sass";
@import "../bulma/sass/utilities/_all.sass";