<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link rel="stylesheet" href="/static/css/mystyles.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>UJEP • Erasmus</title>

    <nav class="navbar is-prf is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://prf.ujep.cz/cs/">
                <img src="/static/prf_logo.svg" height="100">
            </a>
            <a role="button" class="navbar-burger p-3">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
            </div>
        </div>
    </nav>

    <section class="hero is-prf p-5">
        <div class="hero-body">
            <div class="container" sty>
                <h1 class="title is-1 has-text-centered">
                    Erasmus
                </h1>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-centered is-toggle">
              <div class="container">
                <ul>
                    <li class="is-active" _="on click take .is-active then hide #cards then show #form">
                    <a>
                        <span>Table</span>
                    </a>
                    </li>
                    <li _="on click take .is-active then hide #form then show #cards">
                    <a>
                        <span>All</span>
                    </a>
                    </li>
                </ul>
              </div>
            </nav>
          </div>
    </section>

</head>
<body>
    <progress id="progress" class="progress htmx-indicator is-primary"></progress>
    
</body>
</html>