<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <link rel="stylesheet" href="/static/css/mystyles.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{% block title%}{% endblock %}</title>

    {% block head %}
    {% endblock %}

</head>
<body>

    {% block body %}
    {% endblock %}

</body>
{% block footer %}
{% endblock %}

<script>
    function toggleFormInputs() {
        // Get the window width
        var windowWidth = window.innerWidth;

        // Select the inputs in the table header and nav
        var tableInputs = document.querySelectorAll("table.faculty-table thead input, table.faculty-table thead select, table.faculty-table thead checkbox");
        var navInputs = document.querySelectorAll("nav.level input, nav.level select, nav.level checkbox");

        if (windowWidth <= 768) {
            // Disable table header inputs for mobile
            tableInputs.forEach(function(input) {
                input.setAttribute("disabled", "true");
            });

            // Enable nav inputs for mobile
            navInputs.forEach(function(input) {
                input.removeAttribute("disabled");
            });
        } else {
            // Enable table header inputs for larger screens
            tableInputs.forEach(function(input) {
                input.removeAttribute("disabled");
            });

            // Disable nav inputs for larger screens
            navInputs.forEach(function(input) {
                input.setAttribute("disabled", "true");
            });
        }
    }

    // Run the function on page load
    window.onload = toggleFormInputs;

    // Run the function when the window is resized
    window.onresize = toggleFormInputs;
</script>

</html>